/* Header Component */
.nav-link {
}

.nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.125rem;
  background-color: #3B82F6;
  transform: scaleX(1);
  animation: scaleIn 0.3s ease;
}

.open .mobile-menu-line:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.open .mobile-menu-line:nth-child(2) {
  opacity: 0;
}

.open .mobile-menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

@keyframes scaleIn {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}
